.popup_container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 22px 12px 22px;
  background-color: #1DA1F2;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  position: fixed;
  bottom: 32px;
  visibility: visible;
}